@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.line{
    width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
.line-down{
    width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
    padding-top: 1150px;
}
h2{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 32px;
}
h1{
    font-size: 38px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
body{
    align-content: center;
}
.slider {
    padding-top: 350px;
    justify-content: center;
    text-align: center;
    max-width: 960px;
    margin: 50px auto;
}
.slides .slide{
    width: 25%;
    float: left;
}
.slides .slider-inner{
    width: 400%;
}
.overflow{
    width: 100%;
    overflow: hidden;
}
.line2{
    padding-top: 25px;
    width: 200px;
    height: auto;
}
.gorizontal-box{
    justify-self: center;
    width: 95%;
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    height: 600px;
}

.slide p {
    margin-top: -120px;
    background-color: rgba(255, 255, 255, 0.749);
    padding: 10px 0;
    position: relative;
}
.arrows label {
    height: 40px;
    width: 40px;
}

#switch1:checked ~ .arrows label:nth-child(4),
#switch2:checked ~ .arrows label:nth-child(1),
#switch3:checked ~ .arrows label:nth-child(2),
#switch4:checked ~ .arrows label:nth-child(3){
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z'/%3E%3C/svg%3E") center/cover no-repeat;
    float: left;
    margin: 0 0 0 40px;
    display: block;
}

#switch1:checked ~ .arrows label:nth-child(2),
#switch2:checked ~ .arrows label:nth-child(3),
#switch3:checked ~ .arrows label:nth-child(4),
#switch4:checked ~ .arrows label:nth-child(1) {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z'/%3E%3C/svg%3E") no-repeat center/cover;
    float: right;
    margin: 0 40px 0 0;
    display: block;
}

label, a{
    cursor: pointer;
}
/*скрываетвсе radio-input*/
input[type="radio"]{
    display: none;
}

#switch1:checked ~ .slides .slider-inner{
    margin-left: 0;
}

#switch2:checked ~ .slides .slider-inner{
    margin-left: -100%;
}

#switch3:checked ~ .slides .slider-inner{
    margin-left: -200%;
}

#switch4:checked ~ .slides .slider-inner{
    margin-left: -300%;
}

.arrows{
    margin: -29% 0 0 0;
    width: 100%;
    height: 50px;
}

.dots label{
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
}

.dots{
    margin: 23% 0 0;
    text-align: center;
}

.dots label:hover{
    background: #76c8ff;
    border-color: #777 !important;
}

#switch1:checked ~ .dots label:nth-child(1),
#switch2:checked ~ .dots label:nth-child(2),
#switch3:checked ~ .dots label:nth-child(3),
#switch4:checked ~ .dots label:nth-child(4){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

.slides .slider-inner{
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.arrows label:hover{
    opacity: 0.6;
}

.arrows label{
    transition: opacity 0.2s ease-out;
}
.ukraine-map {
    position: absolute;
    pointer-events: auto; /* Включає взаємодію */
    width: 600px; /* або потрібний розмір */
    height: 800px;
}
.region {
    position: absolute;
    height: auto;
}
.region:hover {
    transform: scale(1.2);
}

.mobile-title{
    display: none;
}
.zakarpattia { width: 200px; top: 510px; left: 100px; }
.lvivska { width: 220px; top: 300px; left: 140px; }
.ivanofrankivska { width: 160px; top: 440px; left: 230px; }
.ternopilska { width: 150px; top: 350px; left: 320px; }
.chernivetska { width: 200px; top: 570px; left: 360px; }
.volynska { width: 200px; top: 140px; left: 220px; }
.rivnenska { width: 180px; top: 160px; left: 380px; }
.khmelnytska { width: 170px; top: 320px; left: 450px; }

.zhytomyrska { width: 210px; top: 160px; left: 570px; }
.kyivska { width: 220px; top: 210px; left: 750px; }
.chernihivska { width: 210px; top: 90px; left: 870px; }
.sumska { width: 200px; top: 80px; left: 1080px; }

.vinnytska { width: 220px; top: 430px; left: 590px; }
.poltavska { width: 300px; top: 310px; left: 990px; }
.cherkaska { width: 250px; top: 390px; left: 790px; }
.kirovohradska { width: 310px; top: 530px; left: 810px; }
.dnipropetrovska { width: 300px; top: 550px; left: 1080px; }

.kharkivska { width: 280px; top: 310px; left: 1260px; }
.luhanska { width: 210px; top: 360px; left: 1540px; }
.donetska { width: 230px; top: 530px; left: 1400px; }

.zaporizka { width: 260px; top: 720px; left: 1190px; }
.khersonska { width: 320px; top: 780px; left: 950px; }
.mikolayivska { width: 260px; top: 680px; left: 800px; }
.odeska { width: 260px; top: 660px; left: 600px; }
.crimea { width: 350px; top: 980px; left: 1020px; }
@media (max-width: 1000px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .arrows label {
        height: 12vw;
        width: 12vw;
    }
    .arrows{
        position: absolute;
        top: 70%;
    }
    .slider{
        position: relative;  /* Це створить новий контекст позиціонування */
    }
    .line{
        display: none;
    }
    .line2{
        display: none;
    }
    .line-down{
        display: none;
    }
    .ukraine-map {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Додає проміжок між регіонами */
    }

    .region {
        position: relative;
        width: 50%; /* або будь-яка інша ширина */
        height: auto;
        top: auto;
        left: auto !important;
        margin-bottom: 20px; /* Додатковий відступ знизу */
    }
    .slider{
        padding-top:0 ;
    }
    .region img {
        width: 100%;
        height: auto;
    }

    .mobile-title {
        display: flex;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        margin: 20px 0; /* Додає відступи між заголовками */
    }
}

.parallax {
    max-height: 1024px;
    max-width: 1024px;
    margin: 0 auto 102vh; /* Центрує по горизонталі */
    position: relative;
    width: 100%;
}

.parallax img {
    top: 0;
    position: absolute;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-out;
    will-change: transform;
}

#back {
    width: 100%;
    height: auto;
    top: 0;
    z-index: -1;
}
